*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    float: left;
    width: 100%;
    background-color: #F8BC3A;
    /* padding: 20px 0px; */
}
.container{
    width: 1400px;
    margin: 0 auto;
}
nav{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.nav-left{
  width: 30%;
   display: inline-block;

}
.nav-left span{
    font-family: 'Dancing Script',cursive;
    font-size:40px;
    
}
.nav-right{
width: 70%;
 float: right;

}
.nav-right li{
    display: inline-block;
    margin: 0 20px;
    list-style-type: none;
}
.nav-right li:hover{
    background-color: green;
}
.nav-right li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
}
.btn .btn-signup{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: black;
   border-radius: 5px;
   margin-left: 10px;
}
.section-background{
    float: left;
    width: 100%;
    background-color: #F8BC3A;
}
.bg{
    padding: 40px 0px;
}
.bg h3{
    width: 30%;
    font-size: 100px;
    color: #FFFEFF;
    display: inline-block;
    text-transform: uppercase;
    padding-top:100px;
}
.bg img{
    width:30%;
    float: right;
    padding: 50px 0px;
}
.section-body{
    float: left;
    width: 100%;
}
.list-icon{
   padding: 50px;
    display: flex;
    text-align: center;
}
.list-1 i{
  font-size: 25px;
}
.list-1 h3{
    margin: 10px 0px;
}
.list-1 p{
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}
footer{
    float: left;
    width: 100%;
    background-color: green;
    text-align: center;
    margin-top: 20px;
    padding-top: 100px;
}
.footer-end h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
.footer-end p{
    width: 40%;
    margin: 10px auto;
    color: white;
}
.list-footer{
    display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 60px;
   list-style-type: none;
}
.list-footer li{
    margin: 0 20px;
    padding:10px 0px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}